<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Counter</h1>

    <script>
        let ws = new WebSocket('ws://127.0.0.1:8000/ws/sc/')

        ws.onopen = function () {
            console.log('Websocket connection open...');
            ws.send("Salam, Wasif Ji!")
        }
        
        ws.onmessage = function (event) {
            console.log('Message received from server...', event);
        }
        
        ws.onerror = function (event) {
            console.log('Websocket error occured...', event);
        }
        
        ws.onclose = function (event) {
            console.log('Websocket connection closed...', event);
        }

        // Another method to write upper code (Upper method is better, I think!!!)

        // ws.addEventListener('open', () => {
        //     console.log('Websocket connection open...');
        //     ws.send("Salam, Wasif Ji!")
        // })

        // ws.addEventListener('message', (event) => {
        //     console.log('Message received from server...', event);
        // })

        // ws.addEventListener('error', (event) => {
        //     console.log('Websocket error occured...', event);
        // })

        // ws.addEventListener('close', (event) => {
        //     console.log('Websocket connection closed...', event);
        // })
    </script>
</body>

</html>